* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.mt-8 {
    margin-top: 8px !important; 
}

.mt-16 {
    margin-top: 16px !important; 
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: calc(100%/3);
}

.col-haft {
    width: calc(100%/2);
}

.col-full {
    width: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff; 
}

#header {
    height: 46.5px;
    background-color: #000;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
    
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;  
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .nav-arrow-down {
    font-size: 16px;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
}

#nav li:hover .subnav {
    display: block;
}

/* #header {
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
} */

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height:46.5px;  
}

#header .search-btn {
     float: right;
     padding: 0 22px;  
    }

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    display: flex;
    background: url('../img/slider/la.jpg') top center /cover no-repeat;
}

#slider .text-content  {
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left: 50%;
    transform: translate(-50%); */
    width: 100%;
    text-align: center;
}

#slider .background-one {
    top: 0;
    left: 0;
}

#slider .text-heading {
    font-weight: 400;
    font-size: 24px;
}   

#slider .text-description {
    font-weight: 700;
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.icon {
    margin-right: 10px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    /* margin-top: 5px; */
}

#content .content-section {
    width: 766px;   
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}

#content .section-sub-heading {
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 48px;
}

#content .members-list {
    overflow: hidden;
}

.text-content {
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-image {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour - section */
.tour-section {
    background-color: #000;
}

.ticker-list {
    margin-top: 32px;
    margin-bottom:32px;
    list-style: none;
    background-color: #fff; 
}

.ticker-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticker-list .sold-out {
    background-color: #f44336;
    color: #ffff;
    padding: 3px 6px;
    margin-left: 16px;
}

.ticker-list .quantity {
    float: right;
    background-color: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #fff;
    text-align: center;
    line-height: 25px;
    margin-top: -3px;
}

.places-list {
    margin-top: 32px;
    margin-bottom: 48px;
}

.place-img {
    width: 100%;
    display: block;
}
/* 
.place-img:hover {
    hover: 0.6;
} */

.place-boby {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.place-boby h3 {
    font-size: 15px;
    font-weight: 700;
}

.place-time {
    margin-top: 15px;
    opacity: 0.5;
}

.place-text {
    margin-top: 15px;
    margin-bottom: 25px;
}

.place-buy {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 10px;
}

.place-buy:hover {
    color: #000;
    background-color: #ccc;
}

.form-submit {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
    cursor: pointer;
}

.map-section img {
    width: 100%;

}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-section {
    font-size: 24px;
}

#footer .social-section a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .coppy-right {
    margin-top: 16px;
    color: #ccc;
    font-size: 18px;
}

#footer .coppy-right a {
    color: #ccc;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    min-height: 200px;
    width: 900px;
    background-color: #fff;
}